.cartItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background: #ededed;
  border-bottom: 1px solid #ccc;
}
.cartItem > div {
  display: flex;
  flex-direction: column;
}
.cartItem img.thumbnail {
  margin-right: 15px;
  max-width: 70px;
}
