<h2>Products</h2>
<div class="product-swipe-area">
  <!-- overflow hidden; -->
  <div class="product-container">
    <!-- width 10 * 1 item -->
    <div class="product" *ngFor="let product of products">
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]"
      >
        <div class="product-image-wrap">
          <img class="product-image" [src]="product.imagePath" />
        </div>
        <div class="product-content">
          <h3>
            {{ product.name }}
          </h3>
          <p *ngIf="product.description">
            Description:{{ product.description }}
          </p>
        </div>
      </a>

      <button (click)="share()">Share</button>
      <app-product-alerts [product]="product" (notify)="onNotify()">
      </app-product-alerts>
    </div>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
